<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<h1 style="text-align: center;">Guru spring</h1>
<p>Book List</p>

<body>
<table style="border-collapse: collapse; width: 100%;" border="1">
    <tbody>
    <tr>
        <td style="width: 33.3333%;">Id</td>
        <td style="width: 33.3333%;">Title</td>
        <td style="width: 33.3333%;">Author</td>
    </tr>
    <tr th:each="book : ${books}">
        <td style="width: 33.3333%;" th:text="${book.id}"></td>
        <td style="width: 33.3333%;">efdsf</td>
        <td style="width: 33.3333%;">dsfsdf</td>
    </tr>
    </tbody>
</table>
</body>
</html>